@import "@/styles/settings";
@import "@/styles/locomotive-scroll";

:root {
  --background-color: black;
  --color: white;
  transition: background-color 0.5s cubic-bezier(0.19,1,0.22,1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-moz-selection {
    color: white;
    background-color: black;
}

::selection {
    color: white;
    background-color: black;
}

*, html, form, fieldset, table, tr, td, input, button, select, textarea, optgroup, option {
  font-family: 'Objektiv-Mk1', sans-serif;
}

html,
body {
  will-change: opacity;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  transition: background-color 0.5s cubic-bezier(0.19,1,0.22,1);
}

[data-direction="down"] #header {
  top: -8rem;
}

body.fixed {
  overflow: hidden;
}

h2 {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  line-height: 1.2;
}

h3 {
  font-size: clamp(1.2rem, 2vw, 2.5rem);
  line-height: 1.2;
}

h2, h3, h4, h5, h6 {
  letter-spacing: -0.05rem;
}

p {
  line-height: 1.8;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

figure img {
  background-color: transparent;
  padding: 0;
}

input[type="text"], input[type="search"], input[type="email"] {
  outline-offset: 0;
  padding: 0.5em 0.8em;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

.container {
  padding: 2rem 6vw;
}

@media only screen and (min-width:64em) {
  .container {
    padding: 4rem 12vw;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
