.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s cubic-bezier(0.16, 1, 0.3, 1), visibility 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.appear-on-scroll {
    opacity: 1;
    visibility: visible;
}

.letter-appear-on-scroll {
    translate: 0 -2rem !important;
    opacity: 1 !important;
}

.line-appear-on-scroll {
    translate: 0 !important;
    opacity: 1 !important;
}

.image-appear-on-scroll:after {
    top: 100% !important;
}